<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.justin.firewall.TeamViewer</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/ApplicationFirewall/socketfilterfw</string>
		<string>--add</string>
		<string>/Applications/TeamViewer.app</string>
		<string>--unblockapp</string>
		<string>/Applications/TeamViewer.app</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
</dict>
</plist>
